.card-header {
  background-color: #222631;
  color: #ffcc07;
  // padding-right: 30px;
  // padding-top: 22px;
  height: 64px;
}

.card-footer {
  border-bottom: solid 1px;
  border-bottom-color: inherit;
  font-size: 15px;
}